body {
    background: #eee;
    font-family: sans-serif;
}

body > main > canvas {
    display: block;
    margin: 20px auto 10px auto;
    background: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

body > footer {
    width: 1000px;
    margin: 0 auto;
    font-size: 0;
}

button {
    color: #333;
    cursor: pointer;
    font-family: inherit;
    border: none;
    background: #fff;
    padding: 5px 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

button:active {
    position: relative;
    top: 1px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}

button + button {
    margin-left: 10px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}